{% extends 'base_2.html' %}
{% block body %}

{% if request.resolver_match.url_name == 'create' %}
<h1>글 생성</h1>
{% elif request.resolver_match.url_name == 'update' %}
<h1>글 수정</h1>
{% endif %}

{# Load the tag library #}
{% load bootstrap4 %}

{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}

{# Display django.contrib.messages as Bootstrap alerts #}
{% bootstrap_messages %}

{# Display a form #}
<form action="/url/to/submit/" method="post" class="form">
  {% csrf_token %}
  {% bootstrap_form form %}
  {% buttons %}
    <button type="submit" class="btn btn-primary">
      Submit
    </button>
  {% endbuttons %}
</form>

{# Read the documentation for more information #}

<a href="{% url 'articles_2:index' %}">메인화면으로</a>
{% endblock %}