{% extends 'base.html' %}

{% block body %}
<div class="row mt-5">
  <div class="col-lg-2"></div>
  <div class="col-lg-8">
    <h3>{{ person }}이 작성한 게시글</h3>
    <br>
    <table class="table table-dark">
      <thead>
        <tr>
          <th>#</th>
          <th>title</th>
          <th>like</th>
        </tr>
      </thead>
      <tbody>
        {% for i in articles %}
        <tr>
          <td>{{i.id}}</td>
          <td>
            <span><a href="{% url 'articles:detail' i.id%}"
                style="text-decoration:none; color: #FFF;">{{i.title}}</a></span>
            <span style="color: red;"><b>[{{i.comment_count}}]</b></span>
          </td>
          <td>
            {% if user in i.like_users.all %}
            <a href="{% url 'articles:like' i.id%}" style="color: red;">{{i.like_users.all|length}}<i
                class="fas fa-heart"></i></a>
            {% else %}
            <a href="{% url 'articles:like' i.id%}" style="color: white;">{{i.like_users.all|length}}<i
                class="far fa-heart"></i></a>
            {% endif %}
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    <br>
    <br>
    <h3>{{ person }}이 작성한 댓글</h3>
    <br>
    <div class="list-group">
      {% for i in comments %}
      <a href="{% url 'articles:detail' i.article.id %}"
        class="list-group-item list-group-item-action list-group-item-dark">{{ i.content }}
      </a>
      {% endfor %}
    </div>
    <br>
    <h3>{{ person }}이 팔로우한 계정</h3>
    <br>
    <div class="list-group">
      {% for i in person.followers.all %}
      <a href="{% url 'accounts:profile' i.username %}"
        class="list-group-item list-group-item-action list-group-item-dark">{{ i.username }}
      </a>
      {% endfor %}
    </div>

  </div>

  <div class="col-lg-2">
    {% if user != person %}
    {% if user in person.followers.all %}
      
      <a href="{% url 'accounts:follow' person.pk %}"><button class ="btn btn-light">언팔로우</button></a>
    {% else %}
      <a href="{% url 'accounts:follow' person.pk %}"><button class ="btn btn-light">팔로우</button></a>
    {% endif %}
    {% endif %}
  </div>

</div>

{% endblock %}