{% extends 'base.html' %}
{% block title %}
<h1>글 상세보기</h1>
{% endblock %}


{% block body %}
<div class="row mt-5">
  <div class="col-lg-2"></div>
  <div class="col-lg-8">
    <p>id : {{article.id}}</p>
    <p>title : {{article.title}}</p>
    <p>content : {{article.content}}</p>
    <p>created_at : {{article.created_at}}</p>
    <p>updated_at : {{article.updated_at}}</p>
    <p>user : {{article.user.username}}</p>
    {% if article.image %}
    <img src="{{ article.image_thumbnail.url }}" alt="{{ article.image }}">
    {% endif %}
    <hr />
    <hr />
    {% if article.comment_count == 0 %}
    <p>댓글이 없습니다.</p>

    {% else %}
    <p>댓글 : {{article.comment_count}} 개</p>

    {% for comment in comments %}
    <div class="row">
      <div class="col-lg-10">

        <span>{{comment.content}} {{comment.created_at}} </span>
        <div id="a{{comment.id}}" class="collapse">
          <form action="{% url 'articles:updateComment' article.id %}" method="POST" id="delete_form">
            {% csrf_token %} <input type="hidden" name=commentId value="{{comment.id}}" />
            <label for="id_content">Content:</label>
            <input type="text" name="content" maxlength="200" required="" id="id_content" value="{{comment.content}}">
            <button class="btn btn-light" type="submit">수정완료</button>
          </form>
        </div>
      </div>
      {% if user == comment.user %}
      <div class="col-lg-1">

        <form action="{% url 'articles:deleteComment' article.id %}" method="POST" id="delete_form">
          {% csrf_token %} <input type="hidden" name=commentId value="{{comment.id}}" />
          <button class="btn btn-light" type="submit">삭제</button>
        </form>
      </div>
      <div class="col-lg-1">
        <button type="button" class="btn btn-light" data-toggle="collapse" data-target="#a{{comment.id}}">수정</button>

      </div>
      {% else %}
      <div class="col-lg-2"></div>
      {% endif %}
    </div>
    <hr />
    {% endfor %}

    {% endif %}

    <div class="row">

      <form action="{% url 'articles:newComment' article.id %}" method="POST" class="mr-auto">
        {% csrf_token %}
        {{ commentform }}
        <input class="btn btn-light" type="submit" value="댓글생성" />
      </form>

      <a href="{% url 'articles:index' %}"><button class="btn btn-light">목록으로 돌아가기</button></a>

      {% if user == article.user %}
      <form action="{% url 'articles:delete' article.id %}" method="POST" style="margin-bottom: 0px;">
        {% csrf_token %}
        <button class="btn btn-light" type="submit">글 삭제하기</button>
      </form>
      <a href="{% url 'articles:update' article.id %}"><button class="btn btn-light">글 수정하기</button></a>

      {% endif %}
    </div>
  </div>
  <div class="col-lg-2"></div>
</div>
{% endblock %}