<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <script src="https://code.jquery.com/jquery-3.4.1.min.js" crossorigin="anonymous"></script>
  <script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
    crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
    integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
    crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://unpkg.com/swiper/css/swiper.css">
  <link rel="stylesheet" href="https://unpkg.com/swiper/css/swiper.min.css">
  <script src="https://unpkg.com/swiper/js/swiper.js"></script>
  <script src="https://unpkg.com/swiper/js/swiper.min.js"></script>
  <style>
    .swiper-container {
      width: 100%;
      height: 400px;
    }

    .swiper-slide {
      text-align: center;
      font-size: 18px;
      background: #fff;
      /* Center slide text vertically */
      display: -webkit-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      -webkit-justify-content: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      -webkit-align-items: center;
      align-items: center;

    }
  </style>
</head>

<body>
  <div class="container">
    <div class="row">
      <h1>상세 페이지</h1>
    </div>
    <div class="row">
      <a href="{% url 'musicians:update' musician.id %}"><button class="btn btn-primary m-1">수정</button></a>
      <form action="{% url 'musicians:delete' musician.id %}" method="post">
        {% csrf_token %}
        <button class="btn btn-primary m-1" type="submit">삭제</button>
      </form>
      <a href="{% url 'musicians:album_create' musician.id %}"><button class="btn btn-primary m-1">앨범추가</button></a>
      <a href="{% url 'musicians:index'%}"><button class="btn btn-primary m-1">목록으로</button></a>
    </div>

    <p>{{musician.name}}</p>
    <div class="row">
      <div class="col-lg-7">
        <iframe width="100%" height="400px" src="https://www.youtube.com/embed/{{albums.0.musicVideo}}"></iframe>
      </div>
      <div class="col-lg-5">
        <!-- Swiper -->
        <div class="swiper-container" id="swiper-container1">
          <div class="swiper-wrapper">
            {% for data in musics %}
            <div class="swiper-slide" style="text-align:right;"><a href="{{data.album.cover}}">{{data.name}}</a></div>
            {% endfor %}
          </div>
          <!-- Add Pagination -->
          <div class="swiper-pagination" id="swiper-pagination1"></div>
        </div>
        <!-- Swiper JS -->
        <script src="https://unpkg.com/swiper/js/swiper.min.js"></script>
        <!-- Initialize Swiper -->
        <script>
          var swiper = new Swiper('#swiper-container1', {
            direction: 'vertical',
            slidesPerView: 7,
            pagination: {
              el: '#swiper-pagination1',
              clickable: true,
            },
          });
        </script>
      </div>
    </div>


    <div class="row mt-5">
      <div class="col-lg-12">
        <!-- Swiper -->
        <div class="swiper-container" id="swiper-container2">
          <div class="swiper-wrapper">
            {% for data in albums %}
            <div class="swiper-slide"><img src="{{data.cover}}" width="300px" height="auto"
                onclick="location.href='{{data.cover}}'" /></div>
            {% endfor %}
          </div>
          <!-- Add Pagination -->
          <div class="swiper-pagination" id="swiper-pagination2"></div>
        </div>

        <!-- Swiper JS -->
        <script src="https://unpkg.com/swiper/js/swiper.min.js"></script>

        <!-- Initialize Swiper -->
        <script>
          var swiper = new Swiper('#swiper-container2', {
            slidesPerView: 3,
            spaceBetween: 30,
            pagination: {
              el: '#swiper-pagination2',
              clickable: true,
            },
          });
        </script>
      </div>
    </div>
  </div>
  <br /><br /><br /><br /><br />
</body>

</html>